<div id="register-modal" class="modal-overlay hidden">
    <div class="modal-content">
        <h3>Register</h3>
        <form id="register-form">
            <input type="text" id="register-username" required placeholder="Username">
            <input type="email" id="register-email" required placeholder="Email">
            <input type="password" id="register-password" required placeholder="Password">
            <input type="password" id="register-confirm-password" required placeholder="Confirm Password">
            <button type="submit">Register</button>
        </form>
        <button id="close-register-modal">Close</button>
    </div>
</div>